.halloween
{
    font-family: 'Creepster';

    position: relative;
    z-index: 3;

    display: flex;

    padding: 232px 0 272px;

    text-align: center;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.halloween .title
{
    color: #fff;
    font-size: 160px;
    line-height: 187px;

    text-shadow: 4px 6px 0 #950fff;
}


.halloween .btns
{
    display: flex;

    margin-top: 30px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.halloween .btns .btn
{
    color: #950fff;
    font-size: 30px;
    line-height: 35px;

    display: flex;

    padding: 9px 30px;

    text-decoration: none;
    letter-spacing: .04em;

    border-radius: 140px;
    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.halloween .btns .btn + .btn
{
    margin-left: 10px;
}


.halloween .btns .btn img
{
    display: block;

    width: 30px;
    height: 30px;
    margin-left: 6px;
}


.halloween .btns .btn.restake_btn
{
    color: #fff;

    background: #950fff;
}


.halloween .web
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    display: block;

    width: 181px;
}


.halloween .bg
{
    position: absolute;
    z-index: -2;
    top: -10%;
    right: 0;
    left: 0;

    display: block;

    width: 100%;
    min-height: 100%;

    object-fit: cover;
}


@media print,
(max-width: 1899px)
{
    .halloween
    {
        padding: 200px 0 224px;
    }


    .halloween .bg
    {
        top: 0;
    }
}


@media print,
(max-width: 1439px)
{
    .halloween
    {
        padding: 200px 0;
    }


    .halloween .title
    {
        font-size: 152px;
        line-height: 172px;
    }


    .halloween .btns
    {
        margin-top: 24px;
    }

    .halloween .btns .btn
    {
        font-size: 28px;
        line-height: 34px;

        padding: 8px 28px;
    }

    .halloween .btns .btn + .btn
    {
        margin-left: 12px;
    }


    .halloween .web
    {
        width: 140px;
    }
}


@media print,
(max-width: 1279px)
{
    .halloween
    {
        padding: 160px 0 120px;
    }


    .halloween .title
    {
        font-size: 132px;
        line-height: 152px;
    }


    .halloween .btns .btn
    {
        font-size: 24px;
        line-height: 32px;
    }

    .halloween .btns .btn img
    {
        width: 28px;
        height: 28px;
        margin-left: 8px;
    }


    .halloween .web
    {
        width: 112px;
    }


    .halloween .bg
    {
        left: -8%;

        width: 116%;
    }
}


@media print,
(max-width: 1023px)
{
    .halloween .title
    {
        font-size: 116px;
        line-height: 128px;
    }


    .halloween .btns
    {
        margin-top: 20px;
    }

    .halloween .btns .btn
    {
        font-size: 22px;
        line-height: 30px;
    }

    .halloween .btns .btn img
    {
        width: 24px;
        height: 24px;
    }


    .halloween .web
    {
        width: 100px;
    }


    .halloween .bg
    {
        left: 0;

        width: 100%;
        min-height: 130%;
    }
}


@media print,
(max-width: 767px)
{
    .halloween
    {
        padding: 160px 0 120px;
    }


    .halloween .title
    {
        font-size: 92px;
        line-height: 100%;
    }


    .halloween .btns
    {
        margin-top: 32px;
    }

    .halloween .btns .btn
    {
        font-size: 20px;
        line-height: 28px;
    }

    .halloween .btns .btn img
    {
        width: 22px;
        height: 22px;
    }


    .halloween .web
    {
        width: 80px;
    }


    .halloween .bg
    {
        min-height: 134%;
    }
}


@media print,
(max-width: 479px)
{
    .halloween
    {
        padding: 132px 0 100px;
    }


    .halloween .title
    {
        font-size: 88px;
    }


    .halloween .btns
    {
        margin-top: 28px;
    }


    .halloween .web
    {
        width: 72px;
    }
}
