.header_wrap
{
    margin-bottom: 50px;
}


header
{
    position: relative;
    z-index: 90;
    top: 0;
    left: 0;

    width: 100%;
    margin-bottom: 50px;
    padding: 20px 0;

    transition: .2s linear;
}

.header_wrap header
{
    margin: 0;
}

header.absolute
{
    position: absolute;

    margin: 0;
}


header .cont
{
    max-width: 1326px;
}


header .info
{
    padding: 19px;

    transition: .2s linear;

    border: 1px solid #191919;
    border-radius: 42px;

    justify-content: space-between;
    align-items: center;
    align-content: center;
}



header .logo img
{
    display: block;

    max-width: 100%;
    height: 70px;

    transition: height .2s linear;
}



header .menu
{
    margin-left: auto;
}


header .menu_item + .menu_item
{
    margin-left: 2px;
}


header .menu_item .btn
{
    color: rgba(255, 255, 255, .8);
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;

    display: block;

    padding: 13px 20px;

    transition: .2s linear;
    text-align: center;
    text-decoration: none;

    border-radius: 15px;

    font-feature-settings: 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on, 'ss05' on, 'ss06' on, 'ss07' on, 'ss08' on, 'ss09' on, 'ss10' on, 'ss11' on;
}


header .menu_item:hover > .btn,
header .menu_item > .btn.active
{
    color: #fff;

    background: #101010;
}



header .ipfs_status
{
    color: #eb5757;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;

    position: relative;

    margin-right: 20px;
    margin-left: 22px;
    padding-left: 21px;

    font-feature-settings: 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on, 'ss05' on, 'ss06' on, 'ss07' on, 'ss08' on, 'ss09' on, 'ss10' on, 'ss11' on;
}

header .ipfs_status.green
{
    color: #1bc562;
}


header .ipfs_status:before
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 11px;
    height: 11px;
    margin: auto;

    content: '';

    border-radius: 50%;
    background: currentColor;
}



header .mob_menu_btn
{
    display: none;

    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-left: 20px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


header .mob_menu_btn svg,
header .mob_menu_btn.active svg + svg
{
    display: block;
}

header .mob_menu_btn.active svg,
header .mob_menu_btn svg + svg
{
    display: none;
}



header.fixed
{
    position: fixed;

    margin: 0;
    padding: 0;

    background: #000;
}


header.fixed .info
{
    padding: 11px 19px;

    border-color: transparent;
    border-radius: 32px;
}


header.fixed .logo img
{
    height: 60px;
}



.mob_menu
{
    position: fixed;
    z-index: 89;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
    margin: 0;
    padding: 124px 0 0;

    transition: transform .3s linear;
    transform: translateX(-100%);

    background: #141414;
}

.mob_menu.show
{
    transform: translateX(0);
}


.mob_menu .scroll
{
    display: flex;
    overflow: auto;
    flex-direction: column;

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
    padding: 0 24px 40px;

    overscroll-behavior-y: contain;
}




.mob_menu .menu
{
    margin-bottom: 60px;
}


.mob_menu .menu .menu_item + .menu_item
{
    border-top: 1px solid rgba(255, 255, 255, .1);
}


.mob_menu .menu .btn
{
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;

    display: block;

    width: 100%;
    padding: 22px 0;

    text-align: left;

    font-feature-settings: 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on, 'ss05' on, 'ss06' on, 'ss07' on, 'ss08' on, 'ss09' on, 'ss10' on, 'ss11' on;
}



.mob_menu .contacts
{
    margin-top: auto;
}


.mob_menu .contacts .title
{
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;

    margin-bottom: 20px;
    padding-bottom: 19px;

    border-bottom: 1px solid rgba(255, 255, 255, .1);

    font-feature-settings: 'ss01' on, 'ss02' on, 'ss03' on, 'ss04' on, 'ss05' on, 'ss06' on, 'ss07' on, 'ss08' on, 'ss09' on, 'ss10' on, 'ss11' on;
}


.mob_menu .contacts .socials
{
    width: 355px;
    max-width: 100%;
    margin-left: 0;

    justify-content: space-between;
}


.mob_menu .contacts .socials a + a
{
    margin-left: 0;
}

.mob_menu .contacts .socials a
{
    --color2: #141414;
}


.mob_menu .contacts .socials svg
{
    width: 44px;
    height: 44px;
}



@media print,
(max-width: 1439px)
{
    header .cont
    {
        padding: 0 20px;
    }
}



@media print,
(max-width: 1279px)
{
    .header_wrap,
    header
    {
        margin-bottom: 40px;
    }


    header .info,
    header.fixed .info
    {
        padding: 15px;

        border-radius: 32px;
    }


    header .cont
    {
        padding: 0 16px;
    }


    header .logo img
    {
        height: 64px;
    }


    header .menu_item .btn
    {
        font-size: 14px;

        padding: 12px 20px;

        border-radius: 13px;
    }


    header .ipfs_status
    {
        font-size: 14px;

        margin-right: 16px;
        margin-left: 20px;
        padding-left: 20px;
    }
}



@media print,
(max-width: 1023px)
{
    header .info,
    header.fixed .info
    {
        padding: 11px;
    }


    header .cont
    {
        padding: 0 12px;
    }


    header .menu
    {
        display: none;
    }


    header .ipfs_status
    {
        margin-right: 0;
        margin-left: auto;
    }


    header .mob_menu_btn
    {
        display: flex;
    }
}



@media print,
(max-width: 767px)
{
    .header_wrap,
    header
    {
        margin-bottom: 36px;
    }


    header .logo img
    {
        height: 60px;
    }


    header.fixed .logo img
    {
        height: 52px;
    }
}



@media print,
(max-width: 479px)
{
    .header_wrap
    {
        margin-bottom: 32px;
    }


    header
    {
        margin-bottom: 32px;
        padding: 12px 0;
    }


    header .logo img
    {
        height: 52px;
    }


    header.fixed .logo img
    {
        height: 44px;
    }



    .mob_menu
    {
        padding-top: 96px;
    }


    .mob_menu .scroll
    {
        padding-right: 12px;
        padding-left: 12px;
    }
}
