.new_year
{
    position: relative;
    z-index: 3;

    width: 100%;
    height: 100vh;
    margin-bottom: -74px;

    background: #3d108f;
}


#snow
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}


.new_year img
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


@media print,
(max-width: 1599px)
{
    .new_year
    {
        margin-bottom: -56px;
    }
}



@media print,
(max-width: 1439px)
{
    .new_year
    {
        height: auto;
    }


    .new_year img
    {
        position: relative;

        height: auto;
    }
}



@media print,
(max-width: 1279px)
{
    .new_year
    {
        margin-bottom: -40px;
    }


    .new_year img
    {
        width: 120%;
        margin-left: -10%;
    }
}



@media print,
(max-width: 1023px)
{
    .new_year img
    {
        width: 130%;
        margin-left: -15%;
    }
}



@media print,
(max-width: 767px)
{
    .new_year
    {
        margin-bottom: -35px;
    }


    .new_year img
    {
        margin-top: 64px;
    }
}
