@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 46px;
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        margin-top: 40px;
    }


    .all_link a
    {
        padding: 16px 28px;
    }



    /*-----------
        Block
    -----------*/
    .block .data
    {
        padding: 72px 40px 56px;

        border-radius: 50px;
    }

    .block .data:before
    {
        top: 28px;

        width: 56px;
        height: 6px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 48px;
    }


    .block_head .desc
    {
        width: calc(100% - 410px);
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 19px;
    }


    .text_block > *
    {
        margin-bottom: 28px;
    }


    .text_block ul li:before
    {
        top: 10px;
    }



    /*-----------
        Stats
    -----------*/
    .stats .data
    {
        padding: 0 52px 70px;
    }


    .stats .item
    {
        font-size: 18px;
    }


    .stats .item .val
    {
        font-size: 48px;

        margin-left: 36px;
    }


    .stats .swiper
    {
        height: 48px;
    }



    /*------------
        Whoami
    ------------*/
    .whoami .info
    {
        padding: 40px;
    }


    .whoami .title
    {
        margin-bottom: 28px;
    }


    .whoami .text
    {
        font-size: 19px;
    }


    .whoami .video
    {
        min-height: 500px;
    }



    /*--------------
        Networks
    --------------*/
    .networks .item .name
    {
        font-size: 21px;
    }


    .networks .item .features
    {
        font-size: 15px;
    }

    .networks .item .features .val
    {
        font-size: 21px;
    }


    .networks .item .btn
    {
        line-height: 19px;

        margin-top: 28px;
        padding: 15px 32px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .row
    {
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .projects .row > *
    {
        width: calc(50% - 12px);
        margin-bottom: 12px;
        margin-left: 12px;
    }


    .projects .project
    {
        padding: 28px;
    }


    .projects .project .link a
    {
        padding: 16px 28px;
    }


    .projects .project .thumb img.monitor
    {
        left: -28px;

        width: calc(100% + 56px);
    }



    /*----------
        Blog
    ----------*/
    .blog .item .title
    {
        font-size: 20px;
    }



    /*--------------
        Contacts
    --------------*/
    .contacts .data
    {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .contacts .data:before
    {
        top: 0;

        width: 1px;
        height: 100%;
    }


    .contacts .socials a + a
    {
        margin-left: 28px;
    }


    .contacts .socials svg
    {
        width: 64px;
        height: 64px;
    }



    /*----------
        Back
    ----------*/
    .back .cont
    {
        padding: 0 24px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .prev_link,
    .article_info .next_link
    {
        left: 24px;

        width: 72px;
        height: 72px;
    }

    .article_info .next_link
    {
        right: 24px;
        left: auto;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info
    {
        padding-top: 0;
        padding-bottom: 100px;
    }


    .error_info .title
    {
        font-size: 48px;
        line-height: 58px;
    }


    .error_info .desc
    {
        font-size: 17px;

        margin-top: 12px;
    }


    .error_info .bg_left
    {
        bottom: -32px;
        left: -40px;

        width: 400px;
        margin-left: 0;
    }

    .error_info .bg_right
    {
        right: -48px;
        bottom: 88px;

        width: 480px;
        margin-right: 0;
    }
}



@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 40px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    /*--------------
        All link
    --------------*/
    .all_link a
    {
        padding: 14px 28px;

        border-radius: 16px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 40px;
    }


    .block_head .title
    {
        width: 300px;
    }


    .block_head .desc
    {
        font-size: calc(var(--font_size) + 1px);

        width: calc(100% - 328px);
    }



    /*-----------
        Block
    -----------*/
    .block .data
    {
        padding: 60px 32px 44px;

        border-radius: 40px;
    }

    .block .data:before
    {
        width: 52px;
        height: 5px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 18px;
    }


    .text_block > *
    {
        margin-bottom: 24px;
    }


    .text_block ul li:before
    {
        top: 9px;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        margin-bottom: -60px;
    }


    .stats .data
    {
        padding: 0 32px 60px;

        border-radius: 40px 40px 0 0;
    }


    .stats .sep
    {
        height: 120px;
    }


    .stats .item
    {
        font-size: 17px;
    }


    .stats .item .val
    {
        font-size: 44px;

        margin-left: 20px;
    }


    .stats .swiper
    {
        height: 44px;
    }



    /*------------
        Whoami
    ------------*/
    .whoami .info
    {
        padding: 32px;

        border-radius: 32px;
    }


    .whoami .title
    {
        margin-bottom: 24px;
    }


    .whoami .text
    {
        font-size: 17px;
    }


    .whoami .video
    {
        min-height: 421px;

        border-radius: 32px;
    }



    /*--------------
        Networks
    --------------*/
    .networks .item .logo
    {
        width: 50px;
        height: 50px;
    }


    .networks .item .name
    {
        font-size: 19px;
        line-height: 23px;

        width: calc(100% - 184px);
    }


    .networks .item .apr
    {
        font-size: 13px;
        line-height: 17px;

        padding: 8px 12px;
    }

    .networks .item .apr span
    {
        font-size: 14px;
        line-height: 17px;
    }


    .networks .item .features
    {
        font-size: 14px;
    }

    .networks .item .features br
    {
        display: block;
    }

    .networks .item .features .val
    {
        font-size: 18px;
    }


    .networks .item .btn
    {
        line-height: 17px;

        padding: 14px 28px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .project
    {
        padding: 24px;

        border-radius: 32px;
    }


    .projects .project .link
    {
        margin-bottom: 20px;
    }


    .projects .project .link > span,
    .projects .project .link a
    {
        padding: 14px 24px;

        border-radius: 16px;
    }


    .projects .project .thumb,
    .projects .project .thumb img
    {
        border-radius: 32px;
    }

    .projects .project .thumb img.monitor
    {
        left: -24px;

        width: calc(100% + 48px);
    }


    .projects .project .tags > *
    {
        font-size: 13px;
    }



    /*----------
        Blog
    ----------*/
    .blog .item .title
    {
        font-size: 19px;
    }



    /*--------------
        Contacts
    --------------*/
    .contacts .data
    {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .contacts .data:before
    {
        top: 0;

        width: 1px;
        height: 100%;
    }


    .contacts .socials a + a
    {
        margin-left: 24px;
    }


    .contacts .socials svg
    {
        width: 56px;
        height: 56px;
    }



    /*----------
        Back
    ----------*/
    .back .cont
    {
        padding: 0 12px;
    }


    .back .link
    {
        font-size: 15px;
        line-height: 19px;

        padding: 16px 28px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .data
    {
        padding-bottom: 140px;
    }


    .article_info .prev_link,
    .article_info .next_link
    {
        top: auto;
        bottom: 32px;
        left: 32px;
    }

    .article_info .next_link
    {
        right: 32px;
        left: auto;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info
    {
        padding-bottom: 60px;
    }


    .error_info .title
    {
        font-size: 44px;
        line-height: 54px;
    }


    .error_info .desc
    {
        font-size: 16px;
    }


    .error_info .bg_left
    {
        top: 0;
        bottom: auto;
        left: 24px;

        width: 280px;
    }

    .error_info .bg_right
    {
        top: 0;
        right: 24px;
        bottom: auto;

        width: 332px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .partners .row > *
    {
        margin-left: 24px;
        margin-bottom: 24px;
        width: calc(20% - 24px);
    }


    .partners .item
    {
        border-radius: 40px;
        padding: 20px;
        height: 152px;
    }
}



@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 36px;
    }



    /*-----------
        Block
    -----------*/
    .block .data
    {
        padding: 60px 24px 40px;

        border-radius: 36px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        padding: 0 16px;
    }


    .block_head .title
    {
        width: 100%;
    }

    .block_head .title br
    {
        display: none;
    }


    .block_head .desc
    {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 17px;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        margin-bottom: -50px;
    }


    .stats .data
    {
        padding: 0 48px 48px;
    }


    .stats .sep
    {
        height: 153px;
    }


    .stats .item
    {
        font-size: 16px;

        flex-direction: column;

        text-align: center;
    }

    .stats .item > *
    {
        width: 100%;

        order: 2;
    }


    .stats .item .val
    {
        font-size: 42px;

        margin-bottom: 12px;
        margin-left: 0;

        text-align: center;

        order: 1;
    }

    .stats .item.delegators .val
    {
        padding: 0;
    }


    .stats .swiper
    {
        height: 96px;
    }



    /*------------
        Whoami
    ------------*/
    .whoami .info
    {
        width: 100%;
        padding: 28px;
    }



    .whoami .text
    {
        font-size: 16px;
    }

    .whoami .text > * + *
    {
        margin-top: 20px;
    }


    .whoami .video
    {
        width: 100%;
        min-height: 0;
        margin-top: 10px;
        padding-bottom: 86.95%;
    }



    /*--------------
        Networks
    --------------*/
    .networks .row > *
    {
        width: calc(50% - 16px);
    }


    .networks .item .features br
    {
        display: none;
    }



    /*--------------
        Projects
    --------------*/
    .projects .project
    {
        padding: 16px;

        border-radius: 24px;
    }



    .projects .project .thumb,
    .projects .project .thumb img
    {
        border-radius: 24px;
    }



    /*----------
        Blog
    ----------*/
    .blog .row > *
    {
        width: calc(50% - 16px);
    }



    /*--------------
        Contacts
    --------------*/
    .contacts .data
    {
        padding-top: 48px;
        padding-bottom: 48px;
    }


    .contacts .data:before
    {
        top: 28px;

        width: 52px;
        height: 5px;
    }


    .contacts .socials svg
    {
        width: 52px;
        height: 52px;
    }

    .contacts .socials a + a
    {
        margin-left: 20px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .data
    {
        padding-bottom: 132px;
    }


    .article_info .prev_link,
    .article_info .next_link
    {
        bottom: 24px;
        left: 24px;
    }

    .article_info .next_link
    {
        right: 24px;
        left: auto;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info
    {
        display: flex;

        flex: 1 0 auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }


    .error_info .title
    {
        font-size: 40px;
        line-height: 50px;
    }


    .error_info .desc
    {
        font-size: 16px;
    }


    .error_info .bg_left
    {
        top: 20%;
        bottom: auto;
        left: 24px;

        width: 252px;
    }

    .error_info .bg_right
    {
        top: 16%;
        right: 24px;
        bottom: auto;

        width: 300px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .row > *
    {
        width: calc(25% - 24px);
    }
}



@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 32px;
    }



    /*-----------
        Block
    -----------*/
    .block .data
    {
        padding: 56px 24px 40px;

        border-radius: 32px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 32px;
    }

    .block .data:before
    {
        top: 24px;
    }



    /*-----------
        Stats
    -----------*/
    .stats
    {
        margin-bottom: -40px;
    }


    .stats .data
    {
        padding: 32px 48px 72px;

        border-radius: 40px 40px 0 0;
    }


    .stats .sep
    {
        width: 100%;
        height: 2px;
        margin: 20px auto;
    }


    .stats .item,
    .stats .swiper.swiper-initialized
    {
        font-size: 15px;

        flex-direction: row;

        width: 100%;

        text-align: left;

        justify-content: space-between;
    }

    .stats .item > *
    {
        width: auto;

        order: 0;
    }


    .stats .item .val
    {
        margin-bottom: 0;
        margin-left: auto;

        text-align: right;

        order: 0;
    }

    .stats .item.delegators .val
    {
        padding-right: 12px;
    }


    .stats .swiper
    {
        width: 100%;
        height: 42px;
    }



    /*------------
        Whoami
    ------------*/
    .whoami .info
    {
        padding: 24px;

        border-radius: 28px;
    }


    .whoami .text
    {
        font-size: 15px;
    }



    /*--------------
        Networks
    --------------*/
    .networks .row
    {
        margin-bottom: -12px;
        margin-left: 0;
    }

    .networks .row > *
    {
        width: 100%;
        margin-bottom: 12px;
        margin-left: 0;
    }

    .networks .row > *.mob_margin
    {
        margin-top: 20px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .project
    {
        padding: 24px;

        border-radius: 28px;
    }


    .projects .row
    {
        margin-left: 0;
    }

    .projects .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*----------
        Blog
    ----------*/
    .blog .row
    {
        margin-left: 0;
    }

    .blog .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .blog .item .title
    {
        font-size: 18px;
    }



    /*--------------
        Contacts
    --------------*/
    .contacts .data
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }


    .contacts .block_head
    {
        width: 100%;
        margin-bottom: 28px;

        text-align: center;
    }


    .contacts .block_head .title
    {
        width: 100%;
    }

    .contacts .block_head .title br
    {
        display: none;
    }


    .contacts .socials
    {
        width: 100%;

        justify-content: center;
    }

    .contacts .socials a + a
    {
        margin-left: 20px;
    }

    .contacts .socials svg
    {
        width: 48px;
        height: 48px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .data
    {
        padding-bottom: 132px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info
    {
        padding: 0 40px 40px;
    }


    .error_info .title
    {
        font-size: 32px;
        line-height: 40px;
    }


    .error_info .desc
    {
        font-size: 15px;
    }


    .error_info .bg_left,
    .error_info .bg_right
    {
        display: none;
    }


    .error_info .mob_bg
    {
        display: block;
    }



    /*--------------
        Partners
    --------------*/
    .partners .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .partners .row > *
    {
        width: calc(33.333% - 20px);
        margin-left: 20px;
        margin-bottom: 20px;
    }


    .partners .item
    {
        border-radius: 32px;
        padding: 16px;
        height: 132px;
    }
}



@media print,
(max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    *
    {
        scroll-margin-top: 68px;
    }


    :root
    {
        --font_size: 15px;
        --font_size_title: 30px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 28px;
        padding: 0;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 16px;
    }



    /*-----------
        Stats
    -----------*/
    .stats .data
    {
        padding-right: 32px;
        padding-left: 32px;
    }


    .stats .item .val
    {
        font-size: 38px;
    }


    .stats .swiper
    {
        height: 38px;
    }



    /*--------------
        Networks
    --------------*/
    .networks .item .logo
    {
        width: 40px;
        height: 40px;
    }


    .networks .item .name
    {
        width: calc(100% - 172px);
    }


    .networks .item .features br
    {
        display: block;
    }



    /*--------------
        Projects
    --------------*/
    .projects .project
    {
        padding: 20px;

        border-radius: 24px;
    }


    .projects .project .thumb
    {
        padding-bottom: 81.09%;
    }

    .projects .project .thumb img.monitor
    {
        left: -20px;

        width: calc(100% + 40px);
    }



    /*----------
        Blog
    ----------*/
    .blog .item .title
    {
        font-size: 17px;
    }



    /*--------------
        Contacts
    --------------*/
    .contacts .data
    {
        padding-top: 36px;
        padding-bottom: 36px;
    }


    .contacts .block_head
    {
        margin-bottom: 24px;
    }


    .contacts .socials a + a
    {
        margin-left: 16px;
    }

    .contacts .socials svg
    {
        width: 44px;
        height: 44px;
    }



    /*----------
        Back
    ----------*/
    .back
    {
        margin-bottom: 10px;
    }


    .back .link
    {
        font-size: 14px;
        line-height: 18px;

        padding: 14px 24px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .data
    {
        padding-bottom: 120px;
    }


    .article_info .prev_link,
    .article_info .next_link
    {
        width: 60px;
        height: 60px;
    }


    .article_info .prev_link svg,
    .article_info .next_link svg
    {
        width: 20px;
        height: 20px;
    }



    /*----------------
        Error info
    ----------------*/
    .error_info
    {
        padding: 0 24px 40px;
    }


    .error_info .title
    {
        font-size: 28px;
        line-height: 38px;
    }


    .error_info .desc
    {
        margin-top: 16px;
    }



    /*--------------
        Partners
    --------------*/
    .partners .row > *
    {
        width: calc(50% - 20px);
    }
}
